<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active">La Rebanada</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Catálogos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['/productos']" routerLinkActive="active">Productos</a>
                    <a class="dropdown-item" [routerLink]="['/reposteras']" routerLinkActive="active">Reposteras</a>
                    <a class="dropdown-item" [routerLink]="['/sucursales']" routerLinkActive="active">Consulta sucursales</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Inventario
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['/entradas']" routerLinkActive="active">Entradas</a>
                    <a class="dropdown-item" [routerLink]="['/salidas']" routerLinkActive="active">Salidas</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reportes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['/reporte/entradas']" routerLinkActive="active">Entradas</a>
                    <a class="dropdown-item" [routerLink]="['/reporte/salidas']" routerLinkActive="active">Salidas</a>
                    <a class="dropdown-item" [routerLink]="['/reporte/inventario']" routerLinkActive="active">Inventario</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Usuarios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Altas y modificaciones</a>
                    <a class="dropdown-item" href="#">Cerrar sesión</a>
                </div>
            </li>
        </ul>
    </div>
</nav>