<div class="container my-5 col-12 col-md-12 col-lg-6">
    <form class="form-group">
        <mat-form-field class="lrb-full-width">
            <mat-label>Nombre de usuario</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>

        <mat-form-field class="lrb-full-width">
            <mat-label>Correo</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>

        <mat-form-field class="lrb-full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>

        <mat-form-field class="lrb-full-width">
            <mat-label>Repetir contraseña</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>

        <br>
        <button mat-raised-button color="primary" type="button">Registrar</button>
    </form>

</div>