<h2 class="mb-4 mt-4 text-center">Reposteras - Altas y modificaciones</h2>
<div class="container my-5 p-5 col-12 col-md-12 col-lg-6 mat-elevation-z8">
    <form class="form-group">
        <mat-form-field class="lrb-full-width">
            <mat-label>Código</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>

        <mat-form-field class="lrb-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>

        <mat-form-field class="lrb-full-width">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
        <mat-slide-toggle class="mb-3">Activa</mat-slide-toggle>

        <br>
        <button mat-raised-button color="primary" type="button">Guardar</button> &nbsp;
        <button mat-raised-button color="warn" type="button">Eliminar</button>
    </form>

</div>