<div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">

    </div>
</div>

<div class="mb-4 mt-4 text-center">
    <h2>
        Consulta de productos
    </h2>
</div>
<mat-form-field appearance="standard" class="d-flex justify-content-end">
    <mat-label>Buscar producto</mat-label>
    <input matInput (change)="applyFilter($event)" placeholder="nombre del producto" #input>
</mat-form-field>
<div class="mat-elevation-z3">
    <table mat-table matTableFilter [dataSource]="data" class="full-width-table" matSort aria-label="Elements">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>
        <!-- name Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
        </ng-container>

        <!-- price Column -->
        <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
            <td mat-cell *matCellDef="let row">{{row.precio | currency}}</td>
        </ng-container>

        <!-- Unidad Medida Column -->
        <ng-container matColumnDef="valormedida">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Unidad de medida</th>
            <td mat-cell *matCellDef="let row">{{row.valormedida }} {{row.simbolo }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [length]="resultsLength" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
    </mat-paginator>
</div>