<div class="container-lg mt-3 col-12 col-sm-8 col-md-6 col-lg-8">
    <h2 class="mb-4">Entrada de inventario</h2>
    <div class="container my-5 col-12 col-md-12 col-lg-6">
        <form class="lrb-full-width">
            <mat-form-field class="lrb-full-width">
                <mat-label>Código de producto</mat-label>
                <input type="text" matInput placeholder="" [(ngModel)]="entrada.idproductos" name="idproductos">
            </mat-form-field>
            <mat-form-field class="lrb-full-width">
                <mat-label class="lrb-full-width">Descripción producto</mat-label>
                <input matInput placeholder="" value="" [readonly]="true">
            </mat-form-field>

            <mat-form-field class="lrb-full-width">
                <mat-label>Cantidad</mat-label>
                <input name="cantidad" matInput placeholder="" [(ngModel)]="entrada.cantidad">
            </mat-form-field>

            <mat-form-field appearance="fill" class="lrb-full-width">
                <mat-label>Repostera</mat-label>
                <mat-select [(ngModel)]="entrada.idrepostera" name="idrepostera">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="lrb-full-width" appearance="fill">
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>

            <input type="hidden" name="idsucursales" [(ngModel)]="entrada.idsucursales">
            <input type="hidden" name="users_id" [(ngModel)]="entrada.users_id">

            <br>
            <button mat-raised-button color="primary" (click)="AgregarEntrada()" type="button">Ingresar inventario</button>
        </form>

    </div>
</div>